@import "normalize.css";

p {
text-align: center;
font-size: 32px;
font-family: Georgia, serif;
}
img {
display: block;
margin: 0 auto;
width: 100%;
max-width: 150px;
}
#Button1 {

background-color: #d08acb;
}
#Button2 {
  position: relative;
}
#paulina{
  display: block;
  margin: 0 auto;
  width: fit-content;
}